<!DOCTYPE html>
{% load staticfiles %}
{% load swapp_template_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title>
        SwApp -
        {% block title_block %}
            Let's Trade!
        {% endblock %}
    </title>
</head>
<body class="container">
    <div>
        {% block navbar_block %}
            <ul id="navbar" class="nav nav-pills justify-content-center">
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:items' %}">Items</a></li>
            {% if request.user|is_user_type:"Seller" %}
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:my-items' %}">MyItems</a></li>
            {% endif %}
            {% if request.user|is_user_type:"Staff" %}
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:sellers' %}">Sellers</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:select-checkout' %}">Checkout</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:manage' %}">Manage</a></li>
            {% endif %}
            {% if not user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:register' %}">Register</a></li>
            {% else %}
                <li class="nav-item"><span class="nav-link disabled">Welcome, {{ user.username }}!</span></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'swapp:logout' %}">Logout</a></li>
            {% endif %}
            </ul>
        {% endblock %}
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>
