{% extends 'swapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Welcome to {{ event.name }}</h1>
    <h2>Basic Info</h2>
        <p> {{ event.description }}  </p>
        <p><strong>Location: </strong>{{ event.location }}</p>
        <p><strong>Time: </strong>{{ event.start_time }} - {{ event.end_time }}</p>
    <h2>Announcements</h2>
    <ul>
    {% for ann in announcements %}
        <li>
        <h3>{{ ann.title }}</h3>
        <em> - posted by {{ ann.posted_by }} on {{ ann.timestamp }}<br/></em>
        {% if ann.picture %}
            <img src="{{ MEDIA_URL }}{{ ann.picture }}" alt="{{ ann.picture }}" />
        {% endif %}
        <p>{{ ann.announcement }}</p>
        </li>
    {% endfor %}
    </ul>
        <h2>Featured Items</h2>
    <ul>
    {% for item in featured_items %}
        <li>
        <h3>{{ item.name }}</h3>
        {% if item.image %}
            <img src="{{ MEDIA_URL }}item_pictures/{{ item.image }}" alt="{{ item.image }}" />
        {% endif %}
        <p>{{ item.desc }}</p>
        <em>£{{ item.price }}</em>
        </li>
    {% endfor %}
    </ul>
{% endblock %}