{% extends 'swapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Event</h1>
    <h2>Basic Info</h2>
        <p> Event is a sample exchenge event that serves as an example to demonstrate what this webb app is going to look like and perhaps even operate.  </p>
        <p><strong>Location: </strong>{{ event_location }}</p>
        <p><strong>Time: </strong>{{ event_time }}</p>
    <h2>Announcements</h2>
    <ul>
    {% for ann in announcements %}
        <li>
        <h3>{{ ann.title }}</h3>
        <em> - posted by {{ ann.posted_by }}{{ ann.posted_at }}<br/></em>
        {% if ann.image %}
            <img src="{{ MEDIA_URL }}announcements/{{ ann.image }}" alt="{{ ann.image }}" />
        {% endif %}
        <p>{{ ann.text }}</p>
        </li>
    {% endfor %}
    </ul>
        <h2>Featured Items</h2>
    <ul>
    {% for item in featured_items %}
        <li>
        <h3>{{ item.name }}</h3>
        {% if item.image %}
            <img src="{{ MEDIA_URL }}item_pictures/{{ item.image }}" alt="{{ item.image }}" />
        {% endif %}
        <p>{{ item.desc }}</p>
        <em>{{ item.price }}</em>
        </li>
    {% endfor %}
    </ul>
{% endblock %}