{% extends 'swapp/base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block title_block %}
    All Items
{% endblock %}

{% block body_block %}
    <h1 class="mb-5">All Items</h1>
    <div class="mb-3">
    <h3>What are you looking for?</h3>
    <form method="GET" id="search" action=".">
        {% csrf_token %}
        <input style="max-width: 500px" class="form-control mb-3" type="search" name="q" value="{{ request.GET.q }}" placeholder="Search..." autofocus/>

        <!--
        <label for="choose-ordering-name">Name</label>
        <input id="choose-ordering-name" type="radio" name="order" value="name">
        <label for="choose-ordering-price">Price</label>
        <input id="choose-ordering-price" type="radio" name="order" value="price">
        <label for="choose-ordering-date">ID</label>
        <input id="choose-ordering-date" type="radio" name="order" value="id">
        -->

        <input class="btn btn-primary mb-3" id="search_submit" type="submit" value="Search">
        <a class="btn btn-secondary mb-3" id="search_clear" href="?page=1&q=">Clear</a>
    </form>
    </div>

    <div id="search-results" >
        {% if not request.GET.q == "" %}
        <p>Found {{ number_of_results }} results: </p>
        {% endif %}
         <ul class="p-0">
             {% for item in items %}
                 <div onclick="openItemView('{{ item.id }}')" class="card mb-3 {% if item.sold %}border-danger{% else %}{% if item.checked %}border-success{% else %}border-warning{% endif %}{% endif %}" style="max-width: 650px;">
                     <div class="row g-0">
                         <div class="col-md-4 d-flex justify-content-center align-items-center">
                             {% thumbnail item.picture "200x200" as im %}
                                 <img id="item-image-{{ image.id }}" width="{{ im.width }}" height="{{ im.height }}" src="{{ im.url }}" alt="{{ im.picture }}" />
                             {% empty %}
                                 <p>No Image</p>
                             {% endthumbnail %}
                         </div>
                         <div class="col-md-8">
                             <div class="card-body">
                                 <h5 class="card-title">{{ item.name }}</h5>
                                 <p id="item-desc" class="card-text">{{ item.description }}.</p>
                                 <em id="item-price" class="card-text">£{{ item.price }}</em><br/>
                                 <!-- TODO: add bootstrap icons -->
                                 <span id="item-avail" class="card-text">Available: <i>{% if item.checked and not item.sold %}YES{% else %}NO{% endif %}</i></span><br/>
                                 <button type="button" class="btn btn-primary" >View</button>
                             </div>
                         </div>
                     </div>
                 </div>

                <!-- Modal -->
                <div class="modal fade" id="view-item-{{ item.id }}" tabindex="-1" >
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Item</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>{{ item.name }}</h4>
                                <em>item #{{ item.id }}</em><br/>
                                {% if item.picture %}
                                    <img id="item-image-modal" src="{{ MEDIA_URL }}{{ item.picture }}" alt="{{ item.picture }}" />
                                {% endif %}
                                <p>{{ item.description }}</p>
                                <strong>£{{ item.price }}</strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
             {% endfor %}
         </ul>
    </div>

    <nav>
    <ul class="pagination justify-content-center">
        {% if items.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1&q={{ request.GET.q }}&order={{ request.GET.order }}">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}&q={{ request.GET.q }}&order={{ request.GET.order }}">previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="?page=1&q={{ request.GET.q }}&order={{ request.GET.order }}">&laquo; first</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">previous</a></li>
        {% endif %}

        {% for page_num in items.paginator.page_range %}
            {% if page_num == items.number %}
                <li class="page-item active"><a class="page-link" href="?page={{ page_num }}&q={{ request.GET.q }}&order={{ request.GET.order }}">{{ page_num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}&q={{ request.GET.q }}&order={{ request.GET.order }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if items.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}&q={{ request.GET.q }}&order={{ request.GET.order }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}&q={{ request.GET.q }}&order={{ request.GET.order }}">last &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">next</a></li>
            <li class="page-item disabled"><a class="page-link" href="?page={{ items.paginator.num_pages }}&q={{ request.GET.q }}&order={{ request.GET.order }}">last &raquo;</a></li>
        {% endif %}
    </ul>
    </nav>
{% endblock %}