{% extends 'swapp/base.html' %}

{% block title_block %}
    All Items
{% endblock %}

{% block body_block %}
    <h1>All Items</h1>

    <div>
    <h2>Legend</h2>
        <ul>
            <li><i>? (icon)</i> = not checked in yet (all items before Event starts)</li>
            <li><i>X (icon)</i> = never checked in or already sold</li>
            <li><i>V (icon)</i> = checked in and still available</li>
        </ul>
    </div>

    <div>
    <form method="GET" id="search" action=".">
        {% csrf_token %}
        <input style="max-width: 500px" class="form-control mb-3" type="search" name="q" value="{{ request.GET.q }}" placeholder="Search..." autofocus/>
        <input class="btn btn-primary mb-3" id="search_submit" type="submit" value="Search">
        <a class="btn btn-secondary mb-3" id="search_clear" href="?page=1&q=">Clear</a>
    </form>
    </div>

    <div id="search-results" >
         <ul>
             {% for item in items %}
                 <li onclick="openItemView({{ item }})">
                 <h3 id="item-name">{{ item.name }}</h3>
                 {% if item.image %}
                     <img id="item-image" src="{{ MEDIA_URL }}item_pictures/{{ item.image }}" alt="{{ item.image }}" />
                 {% endif %}
                 <p id="item-desc">{{ item.desc }}</p>
                 <em id="item-price">£{{ item.price }}</em><br/>
                 <span id="item-avail">Available: <i>{{ item.available }}</i></span>
                 </li>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#view-item-{{ item.id }}">
                      View
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="view-item-{{ item.id }}" tabindex="-1" >
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title">Item</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h4>{{ item.name }}</h4>
                                    <em>item #{{ item.id }}</em><br/>
                                    {% if item.image %}
                                        <img id="item-image" src="{{ MEDIA_URL }}item_pictures/{{ item.image }}" alt="{{ item.image }}" />
                                    {% endif %}
                                    <p>{{ item.desc }}</p>
                                    <strong>£{{ item.price }}</strong>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                 <hr/>
             {% endfor %}
         </ul>
    </div>

    <nav>
    <ul class="pagination justify-content-center">
        {% if items.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1&q={{ request.GET.q }}">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}&q={{ request.GET.q }}">previous</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="?page=1&q={{ request.GET.q }}">&laquo; first</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">previous</a></li>
        {% endif %}

        {% for page_num in items.paginator.page_range %}
            {% if page_num == items.number %}
                <li class="page-item active"><a class="page-link" href="?page={{ page_num }}&q={{ request.GET.q }}">{{ page_num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}&q={{ request.GET.q }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if items.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}&q={{ request.GET.q }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">next</a></li>
            <li class="page-item disabled"><a class="page-link" href="?page={{ items.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a></li>
        {% endif %}
    </ul>
    </nav>

    <script type="application/javascript">
    function openItemView(item) {
        const itemModal = new bootstrap.Modal(document.getElementById('view-item-' + item.id));
        itemModal.toggle()
    }
    </script>
{% endblock %}