{% extends "swapp/base.html" %}
{% load widget_tweaks %}

{% block title_block %}
    Manage
{% endblock %}

{% block body_block %}
    <h1 class="mb-5">Manage</h1>

    <div class="mb-5" id="status-report">
        <h2 class="mb-3">Status</h2>
        <h5 id="sold-items-counter"></h5>
        <div class="progress mb-3">
            <div id="sold-items-progress" class="progress-bar bg-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5 id="remaining-time-counter"></h5>
        <div class="progress mb-3">
          <div id='remaining-time-progress' class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5 id="remaining-reg-time-counter" ></h5>
        <div class="progress mb-3">
          <div id='remaining-reg-time-progress' class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h5 id="reg-counter" ></h5>
        <div class="progress mb-3">
          <div id='reg-progress' class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

    <div id="new-announcement">
        <h2 class="mb-3">New Announcement</h2>
        <form style="max-width: 700px" class="mb-5" id="announcement_form" action="{% url 'swapp:manage' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in announcement_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if announcement_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-primary" type="submit" name="{{ announcement_form.prefix }}" value="Publish">
        </form>
    </div>

    <div class="mb-5" id="reg-control">
        <h2 class="mb-3">Registration</h2>
        <form style="max-width: 350px" class="mb-3" id="reg_start_form" action="{% url 'swapp:manage' %}" method="post">
            {% csrf_token %}
            {% for field in registration_start_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if registration_start_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" name="{{ registration_start_form.prefix }}" value="Set">
            <input class="btn btn-outline-danger mx-2" type="submit" name="reg-start-manual" value="Manually start registration now">
        </form>
        <form style="max-width: 350px" class="mb-3" id="reg_end_form" action="{% url 'swapp:manage' %}" method="post">
            {% csrf_token %}
            {% for field in registration_end_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if registration_end_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" name="{{ registration_end_form.prefix }}" value="Set">
            <input class="btn btn-outline-danger mx-2" type="submit" name="reg-end-manual" value="Manually end registration now">
        </form>
        <form style="max-width: 350px" class="mb-3" id="reg_cap_form" action="{% url 'swapp:manage' %}" method="post">
            {% csrf_token %}
            {% for field in registration_cap_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if registration_cap_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" name="{{ registration_cap_form.prefix }}" value="Set">
        </form>
    </div>

    <div id="event-contol">
        <h2>Event - {{ event.name }}</h2>
        <form style="max-width: 350px" class="mb-3" class="mt-5 mb-3" id="event_start_form" action="{% url 'swapp:manage' %}" method="post">
            {% csrf_token %}
            {% for field in event_end_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if event_end_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" name="{{ event_start_form.prefix }}" value="Set">
            <input class="btn btn-outline-danger mx-2" type="submit" name="event-start-manual" value="Manually start event now">
        </form>
        <form style="max-width: 350px" class="mb-3" id="event_end_form" action="{% url 'swapp:manage' %}" method="post">
            {% csrf_token %}
            {% for field in event_end_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if event_end_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" name="{{ event_end_form.prefix }}" value="Set">
            <input class="btn btn-outline-danger mx-2" type="submit" name="event-end-manual" value="Manually end event now">
        </form>
        <form style="max-width: 350px" class="mb-3" id="event_loc_form" action="{% url 'swapp:manage' %}" method="post">
            {% csrf_token %}
            {% for field in event_loc_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if event_loc_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" name="{{ event_loc_form.prefix }}" value="Set">
        </form>
        <form style="max-width: 350px" class="mb-3" id="event_desc_form" action="{% url 'swapp:manage' %}" method="post">
            {% csrf_token %}
            {% for field in event_desc_form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% if event_desc_form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for invalid in field.errors %}
                                <div class="invalid-feedback">
                                    {{ invalid }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" name="{{ event_desc_form.prefix }}" value="Set">
        </form>
    </div>

    <script type="application/javascript">
    refreshItemsAndRegs("{% url 'swapp:refresh-status' %}")
    refreshEventTimer({{ event_start_timestamp }}, {{ event_end_timestamp }})
    refreshRegTimer({{ reg_start_timestamp }}, {{ reg_end_timestamp }})
    // refresh countdown every second
    setInterval(
        function () {
            refreshEventTimer({{ event_start_timestamp }}, {{ event_end_timestamp }});
            refreshRegTimer({{ reg_start_timestamp }}, {{ reg_end_timestamp }})
        }, 1000
    )
    // refresh sold items and registrations count every 5 seconds
    setInterval(
        function () {
            refreshItemsAndRegs("{% url 'swapp:refresh-status' %}")
        }, 5000
    )
    </script>

{% endblock %}