{% extends 'swapp/base.html' %}

{% block title_block %}
    My Items
{% endblock %}

{% block body_block %}

    <h1>My Items</h1>

    <div>
    <form method="GET" id="search" action=".">
        {% csrf_token %}
        <input type="search" name="q" value="{{ request.GET.q }}" placeholder="Search..." size="30" autofocus/>
        <input id="search_submit" type="submit" value="Search">
    </form>
    </div>

    <div id="search-results">
         <ul>
             {% for item in items %}
                <li>
                 <h3>{{ item.name }}</h3>
                 {% if item.image %}
                     <img src="{{ MEDIA_URL }}item_pictures/{{ item.image }}" alt="{{ item.image }}" />
                 {% endif %}
                 <p>{{ item.desc }}</p>
                 <em>£{{ item.price }}</em><br/>
                 <span>Available: <i>{{ item.available }}</i></span>
                 </li>
				 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#view-item-{{ item.id }}" data-bs-whatever="{{ item.id }}">
                      Edit
                    </button>

				<!-- Modal -->
                <div class="modal fade" id="view-item-{{ item.id }}" tabindex="-1" >
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title">Edit Item {{ item.id }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
								<label for="item-name" class="col-form-label">Name:</label>
								<input type="text" class="form-control" id="item-name" value = "{{ item.name }}">
								<br>
                                {% if item.image %}
									<label for="item-image" class="col-form-label">Image:</label>
									<br>
                                    <img id="item-image" src="{{ MEDIA_URL }}item_pictures/{{ item.image }}" alt="{{ item.image }}" style="width:200;height:240;" />
									<br>
									<input type="file" class="form-control" id="item-image" accept=".jpg, .jpeg, .png">
                                {% endif %}
								<br>
                                <label for="item-desc" class="col-form-label">Description:</label>
								<input type="text" class="form-control" id="item-name" value = "{{ item.desc }}" >
                                <label for="item-price" class="col-form-label">Price:</label>
								<input type="text" class="form-control" id="item-price" value = "£{{ item.price }}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
             {% endfor %}
         </ul>
    </div>

    <div class="pagination">
    <span>
        {% if items.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        {% for page_num in items.paginator.page_range %}
            {% if page_num == items.number %}
                <a href="?page={{ page_num }}"><strong>{{ page_num }}</strong></a>
            {% else %}
                <a href="?page={{ page_num }}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
            <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

    <script type="application/javascript">
    function openItemView(item) {
        const itemModal = new bootstrap.Modal(document.getElementById('view-item-' + item.id));
        itemModal.toggle()
    }
    </script>
	
{% endblock %}